.detail .main-content {
    width: 100%;
    background-color: #080808;
}

.main.detail {
  padding-bottom: 0;
}

.main-content .detail-col-wr {
    background-color: #161616;
}

.detail-gallery {
    padding-top: 164px;
}

.detail-col {
    width: 1110px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.detail-heading {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
}

.video_wrapper {
    width: 635px;
    position: relative;
    background-color: #000;
  }
  .video_wrapper_full {
    padding-top: 400px;
  }
  
  .videoIframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  
  .videoPoster {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../img/blog-video.jpg);
    background-size: 100%;
    border: none;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 800ms, height 0s;
    -moz-transition: opacity 800ms, height 0s;
    transition: opacity 800ms, height 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
  }
  .videoPoster:hover {
    cursor: pointer;
  }
  .videoPoster:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin: -40px 0 0 -40px;
    background-color: #C6A564;;
    border-radius: 100%;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
  }
  .videoPoster:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      margin: -15px 0 0 -11px;
      border-left: 15px solid #000;
      border-top: 10.5px solid transparent;
      border-bottom: 10.5px solid transparent;
      -webkit-transition: border-color 300ms;
      -moz-transition: border-color 300ms;
      transition: border-color 300ms;
  }
  .videoPoster:hover:before,  .videoPoster:focus:before {
      border-color: #fff;
  }
  .videoPoster:hover:after, .videoPoster:focus:after {
    border-left-color: #fff;
  }
  .videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
  }
  
  .detail-video-wr {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
  }
  
  .video-description {
    display: flex;
    width: 540px;
    position: absolute;
    right: 0;
    padding: 50px 58px 50px 50px;
    flex-direction: column;
    background-color: #fff;
  }
  
  .video-heading {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
  
  .video-text {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 25px;
  }
  
  .description-footer {
    display: flex;
    justify-content: space-between;
  }
  
  .description-footer * {
    line-height: 20px !important;
  }
  
  .description-footer .video-link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    color: #C6A564;
  }
  
  .description-footer .date {
    font-size: 14px;
    line-height: 30px;
  }

.detail-slider {
    position: relative;
    margin-bottom: 90px;
}

  .swiper-slide img {
      width: 100%;
  }

  .prev, .next {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #4F4F4F;
    color: #fff;
    background-repeat: no-repeat;
  }

  .prev::after, .next::after {
      content: "" !important;
  }

  .prev:focus, .next:focus {
      outline: none !important;
  }

  .prev {
    background-image: url(../img/left.svg);
    background-position: 45% 50%;
    margin-right: 20px;
    left: -70px;
  }
  
  .next {
    background-image: url(../img/right.svg);
    background-position: 50% 50%;
    right: -70px;
  }

  .program-wr {
     justify-content: space-between;
  }

  .program-col {
      flex-direction: column;
      width: calc(50% - 15px);
  }

  .program-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #4F4F4F;
}

.program-row:last-child {
    border-bottom: none;
}

.program-row > * {
    display: block;
    font-size: 14px;
    line-height: 25px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-70  {
    margin-bottom: 70px;
}

.mb-30 {
    margin-bottom: 30px;
}

.bb-0 {
    border-bottom: none !important;
}

.program-name {
    text-decoration: none !important;
    color: #AFAFAF;
}

.program-desc {
  display: flex;
  align-items: center;
    text-decoration: none !important;
    color: #AFAFAF;
}

.program-person {
    text-decoration: none !important;
    font-weight: bold;
    color: #fff;
}

.program-person:hover, .program-desc:hover {
    opacity: 0.8;
    color: #fff;
}

.program-row-divider {
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 0;
    height: 40px;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    background-color: #080808;
}

.program-text {
  padding-top: 20px;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #AFAFAF;
}

.info-time:before, .info-dur:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.info-time:before {
  background-image: url(../img/cart-info-time.png);
}

.info-dur:before {
  background-image: url(../img/cart-info-dur.png);
}

/*seats*/

.seats-map-wr {
  display: flex;
}

.seats-map {
  width: 635px;
  position: relative;
  padding-top: 14px;
}

.seats-row {
  margin-bottom: 12px;
  justify-content: center;
}

.seats-left, .seats-left * {
  line-height: 0;
  font-size: 1px;
}

.seats-left {
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
}

.seats-right {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}

.seats-center {
  display: flex;
  justify-content: center;
}

.seats-num {
  width: 30px;
  display: flex;
  flex-direction: column;
}

.seat-num {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #AFAFAF;
  margin-bottom: 7px;
}

.seats-parter {
  position: absolute;
  bottom: 85px;
  flex-direction: column;
}

.seats-parter-left {
  left: 0;
}

.seats-parter-right {
  right: 0;
}

.seats-parter .seat-num {
  margin-bottom: 0;
}

.seats-parter-right .seats-parter-block {
  flex-direction: row-reverse;
}

.seats-parter-block:first-child {
  margin-bottom: 14px;
}

.seats-parter-block {
  width: 80px;
  justify-content: space-between;
  align-items: center;
}

.parter-col svg {
  margin-bottom: 2px;
}

.parter-col {
  display: flex;
  flex-direction: column;
}

.btn-buy {
  display: block;
  padding: 5px 0;
  border: 1px solid #C6A564;
  font-weight: 600;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  color: #C6A564 !important;
}

.btn-buy:hover {
  background-color: #161616;
}

svg {
  display: block;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none !important;
  outline: none !important;
  cursor: pointer;
}

.mb50 {
  margin-bottom: 50px;
}

.mb25 {
  margin-bottom: 25px;
}

.pt1 {
  padding-top: 18px;
}

.mr1 {
  margin-right: 20px;
}

.mr2 {
  margin-right: 40px;
}

.mr3 {
  margin-right: 60px;
}

.ml1 {
  margin-left: 20px;
}

.pl1 {
  padding-left: 20px;
}

.pl2 {
  padding-left: 40px;
}

.pr2 {
  padding-right: 40px;
}

.pr1 {
  padding-right: 20px;
}

.ml2 {
  margin-left: 40px;
}

.ml3 {
  margin-left: 60px;
}

svg.green path{
  stroke: #97C992;
}

svg.green.active {
  fill: #97C992;
}

svg.blue path {
  stroke: #75b3e2;
}

svg.blue.active {
  fill: #75b3e2;
}

svg.purple path {
  stroke: #d066a1;
}

svg.purple.active {
  fill: #d066a1;
}

svg.yellow path {
  stroke: #c6a564;
}

svg.yellow.active {
  fill: #c6a564;
}

svg.red path {
  stroke: #fd6369;
}

svg.red.active {
  fill: #fd6369;
}

svg.busy {
  fill: #292929 !important;
}

svg.busy path {
  stroke: #454545 !important;
}