.main {
    position: relative;
    top: -1px;
    margin-bottom: -1px;
    background-color: rgb(22,22,22);
    padding-bottom: 76px;
}

.heading-imgwr {
    background-color: #000;
    max-height: 502px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.blog .heading-imgwr .bg {
    width: 1100px;
    height: 502px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 89.68%, #000000 100%),
     linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.1) 12.88%),
      url(../img/heading-blog.jpg);
}

.main .social-links {
    position: absolute;
    right: 0;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;
    width: 150.8px;
    border-left: 1px solid #4f4f4f;
}

.main .soc-link:last-child {
    position: unset;
}

.main .soc-link:first-child {
    margin-bottom: 30px;
}

.heading-text {
    min-height: 152px;
    padding: 51px 100px 51px calc(50% - 550px);
    position: absolute;
    background-color: #fff;
    bottom: 0px;
    max-width: calc(100% - 150.8px);
}

.heading-text .heading {
    font-family: 'Lora', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    color: #C6A564;
    margin-bottom: 0;
}

@media (max-width: 1440px) {
    .main .social-links {
        width: 115.8px;
    }

    .heading-text {
        max-width: calc(100% - 115.8px);
    }
}

@media (max-width: 1199px) {
    .heading-text {
        padding-left: 45px;
    }
}